<div
  class="os-screen"
  (mousedown)="moveToTop()"
  ngDraggable
  [ngStyle]="{ top: position?.y + 'px', left: position?.x + 'px' }"
>
  <div class="os-screen__header">
    <div #handle class="os-screen__title">
      <a class="os-screen__back" *ngIf="item?.parentId && item?.type === 'folder'" (click)="goBack()">&lsaquo;</a>
      <div>{{ item?.name }}</div>
    </div>
    <a class="os-screen__close" (click)="delete()">&times;</a>
  </div>
  <div class="os-screen__content">
    <application-wrapper *ngIf="item" [data]="item" [parent]="id"></application-wrapper>
  </div>
</div>
