@import '../../../styles/settings/global-variables';

.newspaper {
  &__item {
    padding: 1rem;
    border-bottom: 1px solid rgba($black, 0.4);
  }

  &__title {
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  &__author {
    font-size: 0.8rem;
    margin: 1rem 0;
  }
}
