.m-1 {
  margin: $base-elements-margin;
}

.mb-1 {
  margin-bottom: $base-elements-margin;
}

.mt-1 {
  margin-top: $base-elements-margin;
}

.ms-1 {
  margin-left: $base-elements-margin;
}

.mr-1 {
  margin-right: $base-elements-margin;
}

.p-1 {
  padding: $base-elements-margin;
}

.pb-1 {
  padding-bottom: $base-elements-margin;
}

.pt-1 {
  padding-top: $base-elements-margin;
}

.ps-1 {
  padding-left: $base-elements-margin;
}

.pe-1 {
  padding-right: $base-elements-margin;
}
